body {
    text-align:left;
    background-size:auto;
    background:-webkit-linear-gradient(right, rgb(99, 64, 255), rgb(255, 5, 193));
    cursor:default;
    /*    animation: slideInFromLeft 1s ease-in-out forwards;   */
}
/* Animação de opacidade*/
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

textarea{
    height: 30px;
    width: 230px;
    font-size: 14px;
    box-shadow: 5px 10px rgb(83, 82, 82);
    background-color: rgb(255, 255, 255);
    border-style:double;
    border-radius: 10px;
    table-layout:fixed;
    /* isso está conectato junto com o @keyframe de opacidade*/
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
    
}

h1 {
    cursor:text;
}

.formato {
    font-size: 14px;
    height: 30px;
    width: 245px;
}

button{
    border-style:unset;
    color:rgb(248, 241, 241);
    cursor: pointer;
    height: 30px;
    width: 100px;
    font-style: oblique;
    font-size: 20px;
    background-color: rgb(50, 31, 133);
    border-radius: 24px;
    transition: background 2s;
}

button:hover{
    background: rgb(0, 0, 0);
}

select {
    font-family: sans-serif;
    height: 20px;
    width: 40px;
    border-radius: 20px;
    box-shadow: 5px 10px rgb(83, 82, 82);
    cursor:pointer;
}
option {
   cursor: pointer;
   border-radius: 10px;
}

::placeholder{
    font-style:italic;
    text-align:center;
    font-size: 15px;
    border-radius: 24px;
}

/* Aqui comecei a mecher com animações e transições */
@keyframes slideInFromLeft{
    from {
          transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
.a1{
    animation: slideInFromLeft 1s ease-in-out forwards;
}
.a2{
    font-style:normal;
    font:sans-serif;
    font-size:medium;
    animation: slideInFromLeft 1.2s ease-in-out forwards;
}

.a3{
    font-style:italic;
    color: rgba(0, 0, 0, 0.863);
    font-size: 23px;
    animation: slideInFromLeft 1.2s ease-in-out forwards;
}

.a4{
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
}


